<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresos-Gastos</title>
  </head>
  <body>
    <h1>Esto es una lista de ingresos y gastos</h1>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>24/04/2023</td>
          <td>Ropa</td>
          <td>20 €</td>
        </tr>

        <tr>
          <td>24/04/2023</td>
          <td>Comida</td>
          <td>15.60 €</td>
        </tr>

        <tr>
          <td>24/04/2023</td>
          <td>Ocio</td>
          <td>12 €</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
